p {
  color: green;
}
div p {
  color: blue !important;
}

#unique p {
  color: red;
}

.highlighted div p {
  color: purple;
}

body {
  width: full;
  height: 200px;
}

.highlighted {
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
}
